project_distributed_systems_1/XML/users.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type">
                <xs:complexType>
                  <xs:attribute name="user_type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="name" type="xs:string" />
              <xs:element name="number" type="xs:unsignedShort" />
              <xs:element name="surname" type="xs:string" />
              <xs:element name="gender">
                <xs:complexType>
                  <xs:attribute name="gender" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="birth_date" type="xs:string" />
              <xs:element name="nationality" type="xs:string" />
              <xs:element name="language">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="lang" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="address" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="telephone" type="xs:unsignedLong" />
              <xs:element name="photograph" type="xs:string" />
              <xs:element name="password" type="xs:string" />
              <xs:element name="userChats">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="chat">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>