project_distributed_systems_2/XML/userLogin.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="chats" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="number" type="xs:unsignedShort" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="nationality" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="telephone" type="xs:unsignedInt" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="language">
          <xs:complexType>
            <xs:attribute name="lang" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="type">
          <xs:complexType>
            <xs:attribute name="user_type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="gender">
          <xs:complexType>
            <xs:attribute name="gender" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>